@model WeatherApiResponse
@{
    ViewData["Title"] = "Search";
    string icon = "https://openweathermap.org/img/wn/" + Model.weather[0].icon + ".png";
}

<div class="container">
    @if (ViewBag.errorMessages != null)
    {
        <h1 class="text-danger">@ViewBag.errorMessages</h1>
    }
    else if (!string.IsNullOrWhiteSpace(@ViewBag.searchWeather))
    {
        <p>Search results by title : @ViewBag.searchWeather</p>

        <div class="card mb-1" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-text">Country : @Model.sys.country</h6>
                <img src=@icon class="rounded mx-auto d-block" alt="...">
                <p class="card-text">Temp : @Model.main.temp &deg;C</p>
                <p class="card-text">Temp_max : @Model.main.temp_max &deg;C</p>
                <p class="card-text">Temp_min : @Model.main.temp_min &deg;C</p>
                <p class="card-text">Pressure : @Model.main.pressure hPa</p>
                <p class="card-text">Clouds : @Model.clouds.all %</p>
                <p class="card-text">Humidity : @Model.main.humidity %</p>
                <p class="card-text">Wind Direction : @Model.wind.deg&deg;</p>
                <p class="card-text">Wind Speed : @Model.wind.speed m/s</p>
            </div>
        </div>
    }
    else
    {
        <p>Not results</p>
    }
</div>
